<p-card class="card">
  <ng-template pTemplate="header"> {{ formattedDate }} </ng-template>
  <div [innerHTML]="content"></div>
  <ng-template pTemplate="footer">
    <span class="p-buttonset">
      <button
        pButton
        pRipple
        label="Редактировать"
        (click)="navigateToChange()"
      ></button>
      <button
        pButton
        pRipple
        label="Удалить"
        class="p-button-warning"
        (click)="handleDelete()"
      ></button>
    </span>
  </ng-template>
</p-card>
